<div class="container">
    
    <div class="card">
        <div class="card-body">
            <div class="row">
                <strong> SERVIDORES </strong>
            </div>
        </div>
    </div>

    <div class="add">
        <button type="button" class="btn btn-success" 
                style="width: 100px;" routerLink="/addServer">+ Servidor</button>
    </div>

    <table class="table table-hover" *ngIf="responseServers">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Compartilhado</th>
            <th>Doenças</th>
            <th>Dinheiro</th>
            <th>Atributos</th>
            <th>Selecionar Servidor</th>
            <th>Deletar Servidor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let server of responseServers">
            <td>{{server.name}}</td>
            <td>{{server.shared ? 'Sim' : 'Não'}}</td>
            <td>{{server.hasDisease ? 'Sim' : 'Não'}}</td>
            <td>{{server.initialMoney}}</td>
            <td>{{server.initialStatsPoints}}</td>
            <td class="action">
              <button type="button" class="btn btn btn-secondary" 
                      (click)="selectServer(server.id, server.name)">
                      Selecionar
              </button>
            </td>
            <td class="action">    
              <button type="button" class="btn btn btn-danger">
                Deletar
              </button>
            </td>
          </tr>
        </tbody>
      </table>

</div>





