<!--Navbar-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <strong style="color: #000000;">SHARP</strong>
    <strong style="color: #009AFF;">SWORD</strong>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/servers">Servidores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#">Usuário</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/item">Itens</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#">Tabela de Experiência</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#">Maquina de Experiência</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#">Pacotes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#">Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="#">Criar Servidor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/avatars">Avatares</a>
      </li>
    </ul>
  </div>  
</nav>
