<div class="container">
    
    <div class="card">
        <div class="card-body">
          <strong> AVATARES </strong>
        </div>
    </div>

    <br>

    <table class="table table-hover" *ngIf="responseAvatar">
        <thead>
          <tr>
            <th scope="col">Saúde</th>
            <th scope="col">Armadura</th>
            <th scope="col">Fome</th>
            <th scope="col">Titulo</th>
            <th scope="col">Trabalho</th>
            <th scope="col">Experiência</th>
            <th scope="col">Dinheiro</th>
            <th scope="col">Status</th>
            <th scope="col">Força</th>
            <th scope="col">Resistência</th>
            <th scope="col">Agilidade</th>
            <th scope="col">Precisão</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let avatars of responseAvatar">
            <td>{{avatars.health}}</td>
            <td>{{avatars.armor}}</td>
            <td>{{avatars.hungry}}</td>
            <td>{{avatars.title}}</td>
            <td>{{avatars.jobId}}</td>
            <td>{{avatars.experience}}</td>
            <td>{{avatars.money}}</td>
            <td>{{avatars.statusPoint}}</td>
            <td>{{avatars.strength}}</td>
            <td>{{avatars.endurance}}</td>
            <td>{{avatars.agility}}</td>
            <td>{{avatars.accuracy}}</td>
            <td>
                <button type="button" class="btn btn-primary edit" routerLink="/editAvatars">
                  Editar
                </button>
            </td>
          </tr>

        </tbody>
      </table>

</div>