<div class="container">
    
    <div class="card">
        <div class="card-body">
          <strong> TRABALHOS </strong>
        </div>
    </div>

    <div class="add">
      <button type="button" class="btn btn-success" 
              style="width: 100px;" routerLink="/addJobs">+ Trabalho</button>
    </div>

    <table class="table table-hover" *ngIf="responseJobs">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Cor</th>
            <th scope="col">Pode Curar</th>
            <th scope="col">Pode Prender</th>
            <th scope="col">Pode Casar</th>
            <th scope="col">Padrão</th>
            <th scope="col">Requerimeto Xp</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let jobs of responseJobs">
            <td>{{jobs.name}}</td>
            <td>{{jobs.color}}</td>
            <td>{{jobs.canHeal}}</td>
            <td>{{jobs.canArrest}}</td>
            <td>{{jobs.canDoMarriage}}</td>
            <td>{{jobs.isDefault}}</td>
            <td>{{jobs.requirementXp}}</td>
            <td>
                <button type="button" class="btn btn-primary edit" routerLink="/editJobs" >
                  Editar
                </button>
            </td>
          </tr>

        </tbody>
      </table>

</div>