* {
padding:0;
margin:0;
}

.container {
display: flex;
flex-direction: column;
width: fit-content;
margin: auto;
justify-content: center;
opacity: 0.6;
}

.card {
    margin: 0;
    background: #DCDCDC;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 40px;
}

