<div class="container">

    <br>

    <div class="card title">
        <div class="card-body">
          <strong> Editar - Avatares </strong>
        </div>
    </div>

    <div class="card editCard">

    <div class="d-flex justify-content-between" >

      <form style="width: 100rem; height: 24rem;">

        <div class="form-row">

         <div class="col-md-3 mb-2">
            <label for="validationDefault01">Saúde</label>
            <input type="number" class="form-control" 
                id="validationDefault01" placeholder="0" 
                required  name="saude">
         </div>

         <div class="col-md-3 mb-2">
            <label for="validationDefault01">Arma</label>
            <input type="number" class="form-control" 
             id="validationDefault01" placeholder="0" 
             required  name="saude">
          </div>

          <div class="col-md-3 mb-2">
            <label for="validationDefault01">Fome</label>
            <input type="number" class="form-control" 
             id="validationDefault01" placeholder="0" 
             required  name="saude">
          </div>

          <div class="col-md-3 mb-2">
            <label for="validationDefault01">Titulo</label>
            <input type="text" class="form-control" 
             id="validationDefault01" placeholder="inserir titulo" 
             required  name="saude">
          </div>

        </div>
        
        <div class="form-row">

            <div class="col-md-3 mb-3">
              <label for="validationDefault01">ID de Trabalho</label>
              <input type="text" class="form-control" 
               id="validationDefault01" placeholder="0" 
               required  name="jobId">
            </div>
  
            <div class="col-md-3 mb-2">
              <label for="validationDefault01">Líder</label>
              <select type="number" class="form-control" 
               id="validationDefault01"required  name="leader">
                <option value="">...</option>
                <option value="true">Sim</option>
                <option value="False">Não</option>
              </select> 
            </div>
  
            <div class="col-md-3 mb-2">
              <label for="validationDefault01">Experiência</label>
              <input type="number" class="form-control" 
               id="validationDefault01" placeholder="0" 
               required  name="experiência">
            </div>
  
            <div class="col-md-3 mb-2">
              <label for="validationDefault01">Money</label>
              <input type="number" class="form-control" 
               id="validationDefault01" placeholder="0" 
               required  name="money">
            </div>
  
          </div>
        
          <div class="form-row">

            <div class="col-md-3 mb-3">
              <label for="validationDefault01">Pontos de Status</label>
              <input type="number" class="form-control" 
               id="validationDefault01" placeholder="0" 
               required  name="pontos">
            </div>
  
            <div class="col-md-3 mb-2">
              <label for="validationDefault01">Força</label>
              <input type="number" class="form-control" 
               id="validationDefault01" placeholder="0" 
               required  name="forca">
            </div>
  
            <div class="col-md-3 mb-2">
              <label for="validationDefault01">Resistência</label>
              <input type="number" class="form-control" 
               id="validationDefault01" placeholder="0" 
               required  name="resistencia">
            </div>
  
            <div class="col-md-3 mb-2">
              <label for="validationDefault01">Agilidade</label>
              <input type="number" class="form-control" 
               id="validationDefault01" placeholder="0" 
               required  name="agilidade">
            </div>
  
          </div>
            
          <div class="form-row">

            <div class="col-md-3 mb-3">
              <label for="validationDefault01">Precisão</label>
              <input type="number" class="form-control" 
               id="validationDefault01" placeholder="0" 
               required  name="precisão">
            </div>
  
          </div>
          
          <button type="button" class="btn btn-outline-success">Atualizar</button>
          
        </form>
        
        </div>

      </div>

</div>






