<div class="container">
    
    <div class="card">
        <div class="card-header">
          <h3> Adicionar Trabalho </h3>
        </div>
        <div class="card-body">
            
            <form>

                <div class="form-row">

                  <div class="col-md-12 mb-2">
                      <h5>Nome:</h5>
                    <input type="text" class="form-control" name="name" [(ngModel)]="request.name">
                  </div>
                </div>

                <div class="form-row">

                    <div class="col-md-6 mb-2">
                        <h5>Cor</h5>
                      <input type="text" class="form-control" name="color" [(ngModel)]="request.color" >
                    </div>

                    <div class="col-md-6 mb-2">
                        <h5>Pode Curar:</h5>
                      <select type="text" class="form-control" name="canHeal" [(ngModel)]="request.canHeal">
                        <option value="true">Sim</option>
                        <option value="false">Não</option>
                      </select>  
                    </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6 mb-2">
                    <h5>Pode Prender:</h5>
                  <select type="text" class="form-control" name="canArrest"  [(ngModel)]="request.canArrest">
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                  </select>  
                </div>
                <div class="col-md-6 mb-2">
                  <h5>Pode Casar:</h5>
                <select type="text" class="form-control" name="canDoMarriage" [(ngModel)]="request.canDoMarriage">
                  <option value="true">Sim</option>
                  <option value="false">Não</option>
                </select>  
              </div>
                </div>

                <div class="form-row">
                  <div class="col-md-6 mb-2">
                    <h5>Padrão:</h5>
                    <select type="text" class="form-control" name="default" [(ngModel)]="request.isDefault">
                      <option value="true">Sim</option>
                      <option value="false">Não</option>
                    </select>  
                  </div>

                    <div class="col-md-6 mb-2">
                        <h5>Requerimento Xp:</h5>
                      <input type="number" class="form-control" name="requirimentXp" [(ngModel)]="request.requirementXp">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4 mb-2">
                        <h5>Trablaho Publico:</h5>
                        <select class="form-control" id="selectIsInicial" name="publicJob" [(ngModel)]="request.publicJob">
                          <option value="true">Sim</option>
                          <option value="false">Não</option>
                        </select>
                    </div>                  
                </div>

            </form>

            <a class="btn" (click)="addJobs()"><h4> + Adicionar</h4></a>
        </div>
      </div>
</div>

