<div class="container">

    <br>

    <div class="card title">
        <div class="card-body">
          <strong> Editar - Trabalho </strong>
        </div>
    </div>

    <div class="card editCard">

    <div class="d-flex justify-content-between" >

      <form style="width: 100rem; height: 15rem;">

        <div class="form-row">

         <div class="col-md-3 mb-2">
            <label for="validationDefault01">Nome</label>
            <input type="text" class="form-control" 
                id="validationDefault01" placeholder="0" 
                required  name="nome">
         </div>

         <div class="col-md-3 mb-2">
            <label for="validationDefault01">Cor</label>
            <input type="text" class="form-control" 
             id="validationDefault01" placeholder="0" 
             required  name="color">
          </div>

          <div class="col-md-3 mb-2">
            <label for="validationDefault01">Cura</label>
            <select type="text" class="form-control" 
             id="validationDefault01"required  name="canHeal">
              <option value="">...</option>
              <option value="true">Sim</option>
              <option value="False">Não</option>
            </select> 
          </div>

          <div class="col-md-3 mb-2">
            <label for="validationDefault01">Prender</label>
            <select type="text" class="form-control" 
             id="validationDefault01"required  name="marriage">
              <option value="">...</option>
              <option value="true">Sim</option>
              <option value="False">Não</option>
            </select> 
          </div>

        </div>
        
        <div class="form-row">

            <div class="col-md-3 mb-2">
                <label for="validationDefault01">Casado (a)</label>
                <select type="number" class="form-control" 
                 id="validationDefault01"required  name="marriage">
                  <option value="">...</option>
                  <option value="true">Sim</option>
                  <option value="False">Não</option>
                </select> 
            </div>


            <div class="col-md-3 mb-2">
                <label for="validationDefault01">Defaulth</label>
                <select type="number" class="form-control" 
                 id="validationDefault01"required  name="isDefaulth">
                  <option value="">...</option>
                  <option value="true">Sim</option>
                  <option value="False">Não</option>
                </select> 
            </div>

            <div class="col-md-3 mb-2">
                <label for="validationDefault01">XP</label>
                <input type="number" class="form-control" 
                 id="validationDefault01" placeholder="0" 
                 required  name="requirimentXp">
            </div>
    
            <div class="col-md-3 mb-2">
              <label for="validationDefault01">Trabalho publicado</label>
              <select type="number" class="form-control" 
               id="validationDefault01"required  name="publicJob">
                <option value="">...</option>
                <option value="true">Sim</option>
                <option value="False">Não</option>
              </select> 
            </div>
  
          </div>
              
          <button type="button" class="btn btn-outline-success">Atualizar</button>
          
        </form>
        
        </div>

      </div>

</div>






